<div class="footer navbar-fixed-bottom my_footer" style="background-color:forestgreen;">
    <br>
    <center>
    <p class="text-center"><b>&copy;  PLANT HOUSE pvt ltd.All Rights Reserved</b></p></center>

<div class="row mx-auto">
        <div class="my_bottom_margin col-9 col-sm-12 col-md-6  xol-lg-4">
             <p>About Us:</p>
            <p>plant house was formed with the idea to help people pause and breathe in some peace in their busy city lives.we noticed the disconnect between people and nature and decided to start plant house to build a bridge between the two.</p>
            <p>Contact :+918594692241</p>
           <p>Telephone : +91-91-29912-991</p>
        </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
              <p>Address :</p>
<p class="my_f">Plant House,03-111, Third floor, WeWork Eleven West, Pancard Club Road, Baner, Pune 411045,</p>
<p>Email :</p>
<p>planthouse.com</p>
<p>Follow us :</p>
<p><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-twitter"></i></p>
          </div>
</div>
     </div>