{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
We Have Wide Veriety Collections of plants
{% endblock %}
{% block title %}
search
{% endblock %}
{% block body %}
<div>
    <p class="text-center my_search_text">You Have Searched For:<b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx_auto">
        {% for product in products %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4  xol-lg-4">
            <div class="shadow card text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}" ><img style="height:20rem;" class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"> </a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                 </div>
            </div><br>
        </div>
        {% empty %}
        <div class="row mx-auto">
        <p class="text-center my_search_text">
        No Result Found!
    </p>
</div>
        {% endfor %}
    </div>
</div>


{% endblock %}